/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
    /*colors*/

:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
    --neutral-grey-500: hsl(234, 12%, 34%);
    --neutral-grey-400: hsl(212, 6%, 44%);
    --neutral-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f5f7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 50px 20px;
}

header {
  text-align: center;
  max-width: 600px;
  margin-bottom: 60px;
}

h1 {
  color: #666;
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  color: #444;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 20px;
}

header p {
  color: #666;
  margin-top: 20px;
  line-height: 1.6;
}

.tools-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.supervisor {
  position: absolute;
  top: 130px;
}

.calculator {
  position: absolute;
  top: 130px;
}

@media (min-width: 992px) {
  .row {
    flex-direction: row;
    justify-content: center;
  }
  
  .card {
    width: 350px;
  }
  
  .karma-container {
    display: flex;
    justify-content: center;
  }

  
}

.card {
  background: white;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 220px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}

.card img {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.supervisor {
  border-top: 4px solid #45d3d3;
}

.team-builder {
  border-top: 4px solid #ea5353;
}

.karma {
  border-top: 4px solid #fcaf4a;
}

.calculator {
  border-top: 4px solid #549ef2;
}

.footer {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.footer a {
  color: #4299e1;
  text-decoration: none;
}

